<div class="slider">
  <div class="tp-banner-container clearfix">
    <div class="tp-banner" >
      <ul>
        <li data-transition="slidehorizontal" data-slotamount="5" data-masterspeed="700" >
          <img src="assets/images/slider/slider-img1.jpg" alt="slidebg1" data-bgfit="cover"
            data-bgposition="center center" data-bgrepeat="no-repeat">
        </li>
        <li data-transition="slidehorizontal" data-slotamount="5" data-masterspeed="700" >
          <img src="assets/images/slider/slider-img2.jpg" alt="slidebg1" data-bgfit="cover"
            data-bgposition="center center" data-bgrepeat="no-repeat">
        </li>
        <li data-transition="slidehorizontal" data-slotamount="5" data-masterspeed="700" >
          <img src="assets/images/slider/slider-img3.jpg" alt="slidebg3" data-bgfit="cover"
            data-bgposition="center center" data-bgrepeat="no-repeat">
        </li>
      </ul>
    </div>
  </div>
</div>
