<% provide :title, t(".edit_user") %>
<section class="main-container col1-layout">
  <div class="main container">
    <div class="page-content">
      <div class="account-login">
        <div class="box-authentication">
          <h4><%= t ".update" %></h4>
          <%= render "up_edit" %>
        </div>
      </div>
    </div>
  </div>
</section>
