<section class="site-section site-section-light site-section-top parallax-image">
  <div id="error-container">
    <div class="row">
      <div class="col-sm-8 col-sm-offset-2 text-center">
        <h1 class="animation-pulse"><i class="error"></i> <%= @code %></h1>
        <h2 class="h3"><%= @code %></h2>
      </div>
    </div>
  </div>
</section>
