<% provide :title, t(".manage_users_title") %>
<div id="page-wrapper" class="page-wrapper">
  <div class="row">
    <div class="col-lg-12">
      <h1 class="page-header"><%= t "admin.layouts.manage_users" %></h1>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12" id="list-user">
    <%= render "list_user" %>
    </div>
  </div>
</div>
