<div id="mobile-menu">
  <ul>
    <li><%= link_to t(".home", class: "home1"), root_path %></li>
    <li><%= link_to t(".suggest"), new_suggest_path %></li>
    <li><%= link_to t(".search"), search_path %></li>
  </ul>
</div>
